:root{
    --blue: #0A1D83;
    --green: #4d8f41;
    --red: #ef0e0e;
    --grey: #ebe1e17c;
}

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    background-color: black;
    color: white;
}

html{
    font-size: 62.5%;
}

.home-main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-main figure img{
    width: 500px;
    height: auto;
    transform: rotate(-10deg);
}

.home-main section{
    margin-top: 40px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.home-main section a{
    margin-bottom: 30px;
    width: 300px;
    height: 60px;
    line-height: 60px;
    font-size: 2rem;
    text-decoration: none;
    background-color: var(--blue);
    border-radius: 5px;
    color: white;
    text-align: center;
}

.header-go-back{
    margin: 20px 0px 0px 100px;
    display: flex;
}

.header-go-back span{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url("../assets/go-back-green.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-go-back span:hover{
    background-image: url("../assets/go-back-blue.png");
}

.header-go-back figcaption{
    color: white;
    font-size: 1.5rem;
    padding-left: 5px;
}

form{
    margin: 10px auto;
    border: 1.5px solid var(--grey);
    border-radius: 20px;
    padding: 20px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2{
    color: var(--green);
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

form ul{
    list-style: none;
    font-size: 1.5rem;
}

form li{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form li:last-of-type{
    justify-content: center;
}

form li label{
    margin-right: 20px;
    color: white;
}

form input{
    width: 220px;
    height: 30px;
    background-color: white;
    color: black;
    font-size: 1.5rem;
}

form button{
    background-color: var(--blue);
    width: 150px;
    height: 35px;
    color: white;
    border: none;
    margin-right: 10px;
}

form button:hover{
    background-color: var(--green);
    box-shadow: 2px 2px 4px 4px var(--grey);
}

form p{
    align-self: flex-start;
    font-size: 1.2rem;
    color: white;
    margin-left: 25px;
}

form .message{
    font-size: 1.6rem;
    margin-top: 20px;
    color: var(--green);
    align-self: center;
    font-weight: 700;
}


.hide-element{
    display: none;
}

.not-found{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
}

.play-game{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-game h3{
    font-size: 3rem;
    letter-spacing: 5px;
    font-weight: bold;
    color: var(--red);
}

.play-game h4{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2.2rem;
    letter-spacing: 2px;
}

.play-game button{
    background-color: var(--green);
    width: 140px;
    height: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1.8rem;
}

.play-game button:disabled{
    background-color: var(--grey);
    color: black;
}

.play-game p{
    font-size: 1.8rem;
    margin-bottom: 10px;
}

footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: white;
}

footer a{
    margin-left: 8px;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--green);
}